body {
    background-color: #dddddd;
    font-family: Futura, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    padding: 0px;
    spacing: 0px;
    background-color: #ffffff;
    float: right;
}
td {
    border: 1px solid black;
    padding: 0px;
    spacing: 0px;
    text-align: center;
}

td.nav{
    border-width: 0px;
    background-color: #ffffff;
}

td.s {
    background-color: #cccccc;
}
td.p {
    background-color: #cccccc;
}
td.m {
    background-color: #cccccc;
}
td.z{
    border-width: 0px;
}

td.s0{
    background-color: #ffffff;
}
td.s1{
    background-color: #cccccc;
}
td.s2{
    background-color: #999999;
}
td.s3{
    background-color: #666666;
    color: #ffffff;
}
td.s4{
    background-color: #333333;
    color: #ffffff;
}
td.s5{
    background-color: #000000;
    color: #ffffff;
}
td.s6{
    background-color: #000000;
    color: #ff9999;
}
td.s7{
    background-color: #000000;
    color: #ff9999;
}
td.s8{
    background-color: #660066;
    color: #ccffff;
}

dt{
    padding-top: 1em;
}